#端口配置
server:
  port: 80
  servlet:
    session:
      timeout: 600



#  数据源配置
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    password: root
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/blog?characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8
  redis:
    database: 0
    # Redis数据库索引（默认为0）
    host: 127.0.0.1
    # Redis服务器地址
    port: 6379
    # Redis服务器连接端口
    #    password: root
    # Redis服务器连接密码（默认为空）
    timeout: 3000
    # 链接超时时间 单位 ms（毫秒）
    lettuce:
      pool:
        max-wait: -1
        # 连接池最大连接数（使用负值表示没有限制） 默认 8
        max-active: 8
        # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
        max-idle: 8
        # 连接池中的最大空闲连接 默认 8
        min-idle: 0
        # 连接池中的最小空闲连接 默认 0



# 集成myatis配置
mybatis:
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: cn.corgy.mapper
  configuration:
    map-underscore-to-camel-case: true


#分页配置一般使用pagehelper
pagehelper:
  helper-dialect: mysql


#设置打印权限的日志信息
logging:
#  level:
  #    org.springframwork.security: info
  #    cn.corgy.mapper: debug
  config: classpath:logback-config.xml
#  exception-conversion-word: ％wEx
